/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */


@import "bootstrap";
@import "font-awesome";

.content, .backdrop, body, #main, h1, div, ul, a, li  {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

body {
  background: #23719F;
}

.content {

}

.backdrop {

}

#main {

}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#lists {

}

#lists > li {
  float: left;
  background: #e3e3e3;
  width: 190px;
  padding: 10px;
  border-radius: 5px;
  margin: 50px 20px 0 0;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

#lists li a {
  font-weight: normal;
}

.cards {
  font-size: 10px;
  font-weight: normal;
}

.cards > li {
  padding: 10px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
}

